<a href="https://colab.research.google.com/github/arthuravilez/mackenzie/blob/master/PL_Python_2_exercicio.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

<head>
  <meta name="author" content="Rogério de Oliveira">
  <meta institution="author" content="Universidade Presbiteriana Mackenzie">
</head>

<img src="http://meusite.mackenzie.br/rogerio/mackenzie_logo/UPM.2_horizontal_vermelho.jpg" width=300, align="right"> 

<h1 align=left><font size = 8, style="color:rgb(200,0,0)"><b>Ciência de Dados </b></font></h1> 
<h1 align=left><font size = 5, style="color:rgb(0,0,0)"><b>Paradigmas de Linguagens de
Programação para Ciência de Dados</b></font></h1> 

# 2 Seleção e Organização de Dados com Pandas
Professores: *Diego Nogare* & *Rogério de Oliveira* 

<br>
<br>

---

# Exercícios

Nos exercícios a seguir emprege a base de dados `titanic`.

Todos exercícios possuem várias soluções possíveis, mas não se preocupe com isso. A melhor solução é primeiro, a que funciona para você!

In [1]:
import numpy as np
import pandas as pd
import seaborn as sns
from random import choices

titanic = sns.load_dataset('titanic')
titanic.head()

   survived  pclass     sex   age  ...  deck  embark_town  alive  alone
0         0       3    male  22.0  ...   NaN  Southampton     no  False
1         1       1  female  38.0  ...     C    Cherbourg    yes  False
2         1       3  female  26.0  ...   NaN  Southampton    yes   True
3         1       1  female  35.0  ...     C  Southampton    yes  False
4         0       3    male  35.0  ...   NaN  Southampton     no   True

[5 rows x 15 columns]

1. Qual a quantidade de linhas e colunas de `titanic`?

In [3]:
# seu código
titanic.shape

(891, 15)

2. Qual a idade do passageiro mais velho?

In [63]:
# seu código
# titanic.nlargest(1, 'age')
passareiro_mais_velho = max(titanic['age'])
passareiro_mais_velho

80.0

3. Qual a idade da sobrevivente feminina mais velha?

In [66]:
# seu código
sobrev_female = titanic.loc[(titanic['sex'] == 'female') & (titanic['survived'] == 1)]
female_mais_velha = max(sobrev_female["age"])
female_mais_velha

63.0

4. Qual o percentual de sobreviventes da primeira e terceira classes?

In [79]:
# seu código

primeira_classe = titanic.loc[(titanic['class'] == 'First')]
terceira_classe = titanic.loc[(titanic['class'] == 'Third')]
sobrev_primeira = titanic.loc[(titanic['survived'] == 1) & (titanic['class'] == 'First')]
sobrev_terceira = titanic.loc[(titanic['survived'] == 1) & (titanic['class'] == 'Third')]

perc1 = len(sobrev_primeira) / len(primeira_classe)
perc3 = len(sobrev_terceira) / len(terceira_classe)

print(f'O percentural de sobreviventes da primeira classe é: {int(perc1*100):.2f}%')
print(f'O percentural de sobreviventes da terceira classe é: {int(perc3*100):.2f}%')

O percentural de sobreviventes da primeira classe é: 62.00%
O percentural de sobreviventes da terceira classe é: 24.00%

5. Analise a média de idade dos passageiros por classe e sexo (sugestão: empregue groupby). Você pode notar que?

In [85]:
# seu código
media_idade_classe_e_sexo = titanic.groupby(['class','sex'])['age'].mean()
media_idade_classe_e_sexo

media_classe = titanic.groupby(['class'])['age'].mean()
media_classe

print(f'Na primeira classe o sexo feminino a média de idade está com 34,61% e o sexo masculino está com a média de 41,28%')
print(f'Na segunda classe o sexo feminino a média de idade está com 28,72% e o sexo masculino está com a média de 30,74%')
print(f'Na terceira classe o sexo feminino a média de idade está com 21,75% e o sexo masculino está com a média de 26,51%')
print(media_idade_classe_e_sexo)
print(media_classe)
print(f'Pela análise é a opção: c) A primeira classe é a classe de passageiros em média mais velhos, e as mulheres são em média mais novas na primeira e segunda classes somente')

Na primeira classe o sexo feminino a média de idade está com 34,61% e o sexo masculino está com a média de 41,28%
Na segunda classe o sexo feminino a média de idade está com 28,72% e o sexo masculino está com a média de 30,74%
Na terceira classe o sexo feminino a média de idade está com 21,75% e o sexo masculino está com a média de 26,51%
class   sex
First   female    34.611765
        male      41.281386
Second  female    28.722973
        male      30.740707
Third   female    21.750000
        male      26.507589
Name: age, dtype: float64
class
First     38.233441
Second    29.877630
Third     25.140620
Name: age, dtype: float64
Pela análise é a opção: c) A primeira classe é a classe de passageiros em média mais velhos, e as mulheres são em média mais novas na primeira e segunda classes somente